    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        /* display: flex;
    justify-content: center; */
        height: auto;
        align-content: center;
    }
    
    #myInput {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #myTable {
        display: flex;
        justify-content: center;
    }