* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-content: center;
}

.nav-bar {
    width: 100%;
    height: 140px;
    background-color: #cce5ff;
    align-content: center;
}

.logo {
    background-image: url(rmcet\ logo.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 213.12px;
    background-color: #fff;
    overflow: hidden;
    flex-shrink: 0;
}

nav {
    display: flex;
    justify-content: center;
}

.text h4 {
    font-weight: bold;
}

.text {
    align-self: center;
    margin-left: 40px;
    font-family: Inter;
}

.title {
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    font-family: Inter;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 500;
}

.con {
    border: 2px solid #0086A0;
    width: 80%;
    height: 194px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    position: relative;
    z-index: 1111;
}

.labelline1 {
    padding: 0px 25px;
    background-color: #00B4D8;
    width: 213px;
    margin-left: 35px;
    align-content: center;
    height: 47px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    transform: translate(-15px, -30px) scale(0.88);
    z-index: 1111;
    font-family: Inter;
}


/* .button {
    display: flex;
    justify-content: end;
}

button {
    padding: 0px 25px;
    background-color: #00B4D8;
    width: 213px;
    align-content: center;
    height: 47px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 1111;
    margin-left: -220px;
    border: none;
    font-family: Inter;
} */

.input {
    display: flex;
    margin-top: 30px;
    padding: 0px 30px;
    justify-content: space-between;
}

input {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 7px;
    padding: 0px 20px;
}

.con3 {
    border: 2px solid #0086A0;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    position: relative;
    z-index: 1111;
}

.labelline2 {
    padding: 0px 25px;
    background-color: #00B4D8;
    width: 213px;
    margin-left: 35px;
    align-content: center;
    height: 47px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    transform: translate(-15px, -30px) scale(0.88);
    z-index: 1111;
    font-family: Inter;
}

.button {
    display: flex;
    justify-content: end;
}

button {
    padding: 0px 25px;
    background-color: #00B4D8;
    width: 213px;
    align-content: center;
    height: 47px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    transform: translate(-15px, -30px) scale(0.88);
    z-index: 1111;
    margin-left: -220px;
    border: none;
    font-family: Inter;
}

.input1 {
    margin-top: 30px;
    padding: 30px 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input1 input {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 7px;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.but {
    /* border: 2px solid black; */
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.but a {
    width: 130px;
    height: 40px;
    background-color: #00B4D8;
    align-content: center;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.but a:hover {
    background-color: #0086A0;
    transform: translateY(-5px);
}


/* input:focus,
input:valid {
    border: 2px solid #0086A0;
} */

@media screen and (max-width: 900px) {
    .logo {
        margin-left: 20px;
    }
    .title {
        font-size: 20px;
    }
    .text {
        font-size: 10px;
    }
    .input1 {
        height: auto;
    }
    .input {
        width: auto;
    }
    .input input {
        width: auto;
    }
    .input1 input {
        width: auto;
    }
    .labelline2 {
        width: 100px;
        font-size: 12px;
        padding: 0px 5px;
    }
    .labelline1 {
        width: 120px;
        font-size: 12px;
        padding: 0px 5px;
    }
    button {
        width: 120px;
        font-size: 15px;
        padding: 0px 5px;
        margin-left: -120px;
    }
}